
@import 'feta';


.key {

	// position: absolute;
	// top: 10px;
	// z-index: 3;
	// //background-color: rgba(255, 255, 255, .9);
	// padding-top: 4px;

	p {
		font-family: $mono;
		color: $color-gray-600;
		font-size: 12px;
		margin-bottom: 4px;
		background-color: #fff;
	}
	
	svg {
		width: 241px;
		height: 30px;
	}

	path {
		display: none;
	}

	.tick line {
		display: none;
	}
	
	text {
		font-family: $mono;
		fill: $color-gray-600;
		paint-order: stroke;
		stroke: white;
		stroke-width: 4px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

}


.circle-key {
	// position: absolute;
	// display: none;

	&.active {
		display: block;
	}

	&.desktop {
		width: 180px;
	}

	&.mobile {
		width: 150px;
	}	

}