@import 'feta';
@import 'reset';
@import '_slider';
@import '_buttons';
@import '_tooltip';
@import '_key';
@import '_native-select';

// div {
// 	outline: 1px solid tomato;
// }

svg.test {
	display: none;
}

.search-container {
	// position: absolute;
	// top: 4px;
	// left: 0;
	// width: 100%;
	// z-index: 100;

	margin-bottom: 15px;
}

.container {
	margin: 0 auto;
	//max-width: 700px;
	width: 100%;
	text-align: center;
	position: relative;
}

.btn-group {
    display: inline-block;
    margin: 0 auto;
}

.circle-key {
	position: absolute;
	display: none;

	&.active {
		display: block;
	}

	&.desktop {
		width: 180px;
	}

	&.mobile {
		width: 150px;
	}	

}


.chart-hed {
    position: relative;
    font-family: $sans;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    margin: 4px 0 14px 0;
    text-align: center;
    color: #4a4a4a;
}

h2 {
	font-family: $mono;
	margin: 4px 0;
}

.chart-div {
	width: 100%;
	display: inline-block;
	position: relative;
}


.chart {
	width: 100%;
	position: relative;

	.tt {
		position: absolute;
		padding: 4px;
		font-size: 12px;
		font-family: $mono;
		color: $color-purple-600 !important;
		background-color: #fff;
		display: none;

		&.active {
			display: block;
		}
	}

	.dot {
		stroke: #FFF;
		stroke-width: 1;
		fill-opacity: .8;
		transition: opacity .1s ease-in-out;
	    -moz-transition: opacity .1s ease-in-out;
	    -webkit-transition: opacity .1s ease-in-out;

		&.inactive {
			fill-opacity: .1;
			stroke-opacity: .1;

			&:hover {
				stroke-opacity: 1;
				fill-opacity: .3;
			}

		}

		&.active, &:hover {
			stroke-opacity: 1;
			stroke: #333;
		}

		

	}

	.track {
		transition: opacity .1s ease-in-out;
	   -moz-transition: opacity .1s ease-in-out;
	   -webkit-transition: opacity .1s ease-in-out;
	   opacity: 0;
	   pointer-events: none;

	   &.active {
	   	opacity: .3;
	   }

	   
	}

	&.wages {
		
		// .dot {
		// 	&.low {
		// 		fill: $color-orange-500;
		// 	}

		// 	&.middle {
		// 		fill: $color-purple-500;
		// 	}

		// 	&.high {
		// 		fill: $color-axios-blue-700;
		// 	}
		// }

	}

	.axis {

		text {
			font-family: $mono;
			fill: $color-gray-700 !important;
		}

		.tick text {
    		font-size: 12px;
		}

		line, path {
			stroke: #c2c2c2 !important;
			stroke-width: .5;
		}

		.domain {
			display: none;
		}

		.label {
			font-family: $mono;
			font-size: 13px;
			fill: #4a4a4a;
		}

		.axis-label {
			font-size: 12px;
			letter-spacing: .5px;
		}
		            
	}

	.zero-line {
		stroke: $color-gray-700 !important;
		stroke-width: 2;
	}

	.range-label {
		font-family: $mono;
		fill: $color-gray-700 !important;
		font-size: 12px;
		letter-spacing: .5px;
	}

	.recession {
		fill: $color-gray-200 !important;
		opacity: .5;
	}
	

}











