{{#extend "base"}}
{{#content "main"}}

<div class="container">
	{{> buttons }}
	{{> slider }}
	{{> key }}

	<div class="chart-div">
		<div class="scatterplot chart has-tooltip"></div>
		<img class='circle-key' src='img/circle-key.png'/>
	</div>
</div>

<svg class="test"></svg>

{{/content}}
{{/extend}}
