{{#extend "base"}}
{{#content "main"}}

<div class="container">

	{{> buttons }}
	{{> key }}
	{{> slider }}

	<div class="chart-div">
		{{> dropdown }}
		<div class="scatterplot chart has-tooltip"></div>
		<img class='circle-key' src='img/circle-key.png'/>
	</div>
	
</div>

<svg class="test"></svg>

{{/content}}
{{/extend}}
