{{#extend "base"}}
{{#content "main"}}

<div class="container">
	{{> slider }}
	
	{{> dropdown }}
	<!--{{> buttons }}-->

	<div class="chart-div">
		
		<div class="scatterplot chart has-tooltip"></div>
			
	</div>
	
	{{> key }}


	<img class='circle-key desktop active' src='img/circle-key.png'/>
	<img class='circle-key mobile' src='img/circle-key-mobile.png'/>

</div>



<svg class="test"></svg>

{{/content}}
{{/extend}}
