<div class="category-nav">

	<form action="">
		<input type="checkbox" name="wage" value="high" checked>High wage<br>
		<input type="checkbox" name="wage" value="middle" checked>Middle wage<br>
		<input type="checkbox" name="wage" value="low" checked>Low wage 
	</form>

</div>