
<div class="key wage-key active">

	<!--<p>Wage categories:</p>-->

	<div class="key-item low">
		<span class="swatch"></span>
		<span class="lbl">Low wage jobs</span>
	</div>
	<div class="key-item middle">
		<span class="swatch"></span>
		<span class="lbl">Middle wage</span>
	</div>
	<div class="key-item high">
		<span class="swatch"></span>
		<span class="lbl">High wage</span>
	</div>
</div>	

<div class="key projection-key">

	<!--<p>Projection:</p>-->

	<div class="key-item shrink">
		<span class="swatch"></span>
		<span class="lbl">Projected to shrink, 2014-24</span>
	</div>
	<div class="key-item grow">
		<span class="swatch"></span>
		<span class="lbl">Projected to grow</span>
	</div>
</div>
