<div id="emoji-tooltip" class="tooltip">
	<div class="tooltip-inner">
		<h4 class="tt-header">
			<span class="tt-update" data-field="geography" data-format="none"></span>
		</h4>

		<div class="tt-row with-rule">
			<strong>Positive Exp. Index</strong>
			<span class="tt-update" data-field="positive_index" data-format="none"></span>
		</div>

		<div class="tt-row with-rule">
			<strong>Experienced worry</strong>
			<span class="tt-update" data-field="worry_yes" data-format="perc"></span>
		</div>

		<div class="tt-row">
			<strong>Experienced enjoyment</strong>
			<span class="tt-update" data-field="enjoyment_yes" data-format="perc"></span>
		</div>

	</div>
</div>